node_modules/
build-output/
trufflehog-raw.json
trufflehog-report.json
trivy-report.json
image.tar
image.digest
image.ref
trivy-image-report.json
.scannerwork/
detect-secrets-report.json
sonarqube-report.json
